#app {
    height: 420px;
    width: 300px;
    border: 1px solid black;
    border-radius: 6px;
}
#app form {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
#app input[type= textfield] {
    width: 100%;
    width: 90%;
    cursor: default;   
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: right;
    font-size: 50px;
    border: 0;
    outline: none;
}
#app input[type= button], input[type=reset] {
    width: 22%;
    cursor: pointer;
    font-weight: bold;
    font-size: 26px;
    color: black;
    padding: 18px;
    margin: 3px;
    border: 0;
    border-radius: 100%;
}
#app .orange {
    background-color: rgb(253,149,3) !important;
    color: white !important;
}
#app .gray {
    background-color: rgb(51,51,51) !important;
    color: white !important;
}
